@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  overflow-x: hidden;
}

header {
  background-image: url(/images/desktop/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  display: block;
  padding-top: 30px;
}


.logo {
  width: auto;
  height: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  margin: 15px 30px;
  color: hsl(0, 0%, 100%);
}

h1 {
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin-top: 100px;
}

.img-arow {
  margin: 70px 650px 10px;
}

.btn-contact {
  background: hsl(0, 0%, 100%);
  color: hsl(167, 40%, 24%);
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
  transition: 0.6s;
  font-size: 12px;
}

.btn-contact:hover {
  background: hsl(210, 4%, 67%);
}

.container-secao {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: -3px;
}

.container-secao .secao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-secao .secao h2 {
  width: 35%;
  margin-bottom: 15px;
  margin-right: 170px;
  font-weight: 700;
  font-family: "Fraunces", sans-serif;
}

.container-secao .secao p {
  width: 60%;
  margin-bottom: 15px;
}

.container-secao .secao a {
  justify-items: flex-start;
  width: 60%;
  text-decoration: none;
  font-size: 13px;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.container-secao img {
  width: 100%;
}

.container-secao .learn-secao1:hover {
  text-decoration-style: bold;
  text-decoration-line: underline;
  text-decoration-color: hsl(51, 100%, 49%);
}

.container-secao .learn-secao2:hover {
  text-decoration-style: bold;
  text-decoration-line: underline;
  text-decoration-color: hsl(7, 99%, 70%);
}

.container-text {
  position: relative;
  transform: translate(0, -150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  align-items: center;
  transform: translate(200px, -200px);
}

.container-text h3 {
  margin-bottom: 10px;
}

.container-text p {
  text-align: center;
}

.container-client {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.container-client h3 {
  text-align: center;
  color: hsl(210, 4%, 67%);
  letter-spacing: 5px;
}

.container-client p {
  margin-bottom: 50px;
  color: hsl(213, 9%, 39%);
}

.container-client img {
  width: 60px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.container-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 70px 130px;
}

.card-client {
  display: grid;
  grid-template-columns: 290px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.card-client small {
  color: hsl(210, 4%, 67%);
  margin-top: 10px;
}

.container-imagens {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.container-imagens img {
  width: 100%;
}

footer {
  background: hsl(168, 34%, 41%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer img {
  margin: 30px auto;
}

footer .nav-footer {
  display: flex;
}

footer .nav-footer a {
  color: hsl(210, 4%, 67%);
}

footer .nav-footer a:hover {
  color: hsl(0, 0%, 100%);
}

footer .container-redes-sociais i,
footer svg,
footer path {
  margin: 30px 5px;
}

footer .container-redes-sociais i i,
footer .container-redes-sociais i svg,
footer .container-redes-sociais i path:hover,
footer svg i,
footer svg svg,
footer svg path:hover,
footer path i,
footer path svg,
footer path path:hover {
  fill: hsl(0, 0%, 100%);
}

/*# sourceMappingURL=style.css.map */