:root {
  --color-primary: blue: hsl(237, 18%, 59%);
  --color-primary2: hsl(345, 95%, 68%);
  --color-neutral: hsl(0, 0%, 100%);
  --color-neutral2: hsl(236, 21%, 26%);
  --color-neutral3: hsl(235, 16%, 14%);
  --color-neutral4: hsl(234, 17%, 12%);
  --fonte: font-family: 'Red Hat Text', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-neutral3);
  background-image: url(../images/bg-stars.svg);
  font-family: var(--fonte);
  overflow: hidden;
  z-index: 0;
}

header {
  color: var(--color-neutral);
  font-size: 1rem;
  margin: 100px auto;
  text-align: center;
}

.container-principal {
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

#container-relogio {
  width: 600px;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

.container-data {
  width: 90px;
  height: 90px;
  display: block;
}

.container-data p {
  color: white;
  position: relative;
  text-align: center;
  margin: 30px 10px;
  width: 100%;
  font-size: .7rem;

  color: var(--color-neutral2);
  font-weight: 700;
}

.superior {
  background-color: var(--color-neutral2);
  width: 120px;
  height: 45px;
  border-radius: 5px 5px 5px 5px;
  position: absolute;
  z-index: 0;

}

.inferior {
  background-color: var(--color-neutral2);
  width: 120px;
  height: 45px;
  border-radius: 5px 5px 5px 5px;
  position: absolute;
  z-index: 0;
  margin-top: -28px;
  box-shadow: 0px 5px 3px 4px hsl(234, 17%, 12%);
}


#data {
  color: var(--color-primary2);
  font-family: var(--fonte);
  font-weight: 700;
  position: relative;
  z-index: 1;
  top: 10%;
  font-size: 4rem;
  width: 50%;
  left: 35%;

}

.container-horas {
  width: 90px;
  height: 90px;
  display: block;
}

.container-horas p {
  color: white;
  position: relative;
  text-align: center;
  margin: 30px 10px;
  width: 100%;
  font-size: .7rem;
  color: var(--color-neutral2);
  font-weight: 700;
}

#horas {
  color: var(--color-primary2);
  font-family: var(--fonte);
  font-weight: 700;
  position: relative;
  z-index: 1;
  top: 10%;
  font-size: 4rem;
  width: 50%;
  left: 30%;
}

.container-minutos {
  width: 90px;
  height: 90px;
  display: block;
}

.container-minutos p {
  color: white;
  position: relative;
  text-align: center;
  margin: 30px 10px;
  width: 100%;

  font-size: .7rem;
  color: var(--color-neutral2);
  font-weight: 700;
}

#minutos {
  color: var(--color-primary2);
  font-family: var(--fonte);
  font-weight: 700;
  position: relative;
  z-index: 1;
  top: 10%;
  font-size: 4rem;
  width: 50%;
  left: 30%;
}

.container-segundos {
  width: 90px;
  height: 90px;
  display: block;
}

.container-segundos p {
  color: white;
  position: relative;
  text-align: center;
  margin: 30px 10px;
  width: 100%;

  font-size: .7rem;
  color: var(--color-neutral2);
  font-weight: 700;
}

#segundos {
  color: var(--color-primary2);
  font-family: var(--fonte);
  font-weight: 700;
  position: relative;
  z-index: 1;
  top: 10%;
  font-size: 4rem;
  width: 50%;
  left: 30%;
}

article {
  display: block;
}

footer {
  margin-top: 315px;

}

.container-redes {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 100px auto;
}

.container-redes a {
  padding: 10px;
}

.icone:hover {
  fill: var(--color-primary2);
}

@media screen and (max-width: 675px) {

  body {
    width: 100%;
  }

  .container-principal {
    width: 375px;
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;

  }

  #container-relogio {
    width: 350px;
    height: auto;
    display: flex;
    justify-content: space-around;
  }

  .container-data,
  .container-horas,
  .container-minutos,
  .container-segundos {
    width: 40px;
    justify-content: space-around;
  }

  .container-data p,
  .container-horas p,
  .container-minutos p,
  .container-segundos p {
    margin: 30px 10px;
  }

  .superior,
  .inferior {
    width: 75px;
  }

  #data {
    left: 15%
  }

  #horas {
    left: 20%;
  }

  #minutos {
    left: 15%;
  }

  #segundos {
    left: 20%;
  }
}