* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 98%);
  font-family: 'Epilogue', sans-serif;
  overflow-y: hidden;
}

nav {
  margin: 10px auto;
  width: 100%;
  display: inline-flex;

}

.container-nav {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;

}

.containerLogo {
  margin: 0 20px;
}

.nav-pills {
  margin-left: -250px;
  color: grey;
}

.nav-pills li a {
  color: hsl(0, 0%, 41%);
}

.nav-pills li a:hover {
  color: hsl(0, 0%, 8%);
}

.containerAcesso {
  display: inline-flex;
  padding: 0 5px;
  margin-right: 40px;
}


#btnLogin {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: hsl(0, 0%, 41%);
  width: 100px;
  height: 40px;
}

#btnLogin:hover {
  color: hsl(0, 0%, 8%);
}

#btnRegistrar {
  width: 120px;
  height: 50px;
  border: 1px solid hsl(0, 0%, 8%);
  border-radius: 15px;
  /* margin-left: 10px; */
  padding: 10px 5px;
  background-color: transparent;
  cursor: pointer;
  color: hsl(0, 0%, 41%);
}


#btnRegistrar:hover {
  color: hsl(0, 0%, 8%);
}

h1 {
  width: 57%;
  font-size: 3.8rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.container-paragrafo p {
  margin-bottom: 40px;
  width: 400px;
}


article {
  display: flex;
  padding: 20px auto;
}


.container-left {
  width: 60%;
  margin-left: 100px;
  margin-top: 90px;
}

.container-imgGrande {
  width: 40%;
  margin: 20px auto;
}




.img-mobile {
  display: none;
}


.container-imgGrande img {
  width: auto;
  height: 40%;
}



.btn-learmMore {
  padding: 10px;
  border-radius: 15px;
  width: 120px;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 41%);
  transition: 0.3s ease-in-out;
}

.btn-learmMore:hover {
  background-color: transparent;
  color: hsl(0, 0%, 8%);
}

.container-icones {
  margin-top: 60px;
}

.container-icones img {
  margin: 10px;
}

.dropdown {
  position: relative;
  transform-origin: center;
}

.dropdown-item img {
  margin-right: 10px;
}

.dropdown.girar ::after {
  transform: rotate(180deg);
}

.dropdown-item svg {
  width: 10px;
}


/* Menu mobile */

.container-sanduiche {
  background-color: transparent;
  border: transparent;
  padding: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: none;
  border-radius: 10px;
  visibility: none;
  animation: 0.5s;
  width: 100px;
  height: 50px;
}


.linha {
  width: 30px;
  height: 3px;
  background: black;
  margin: 9px 5px;
  display: block;
  transform-origin: center;
  position: relative;
  transition: .3s;

}


.menu-mobile {
  display: none;
  width: 300px;
  height: auto;
  color: black;
  position: absolute;
  visibility: hidden;
  animation: 0.4s;
  font-size: 16pt;
  background-color: white;
  transform: translate(310px, 10px);

}


.menu-mobile .nav-pills {
  display: none;
  visibility: hidden;
}

/* Responsividade*/

@media screen and (max-width: 575px) {


  body {
    padding: 0;
    margin: 0;
    overflow: hidden;

  }

  .container-sanduiche {
    height: 50px;
    display: block;
    visibility: visible;
    transition: .5s;
    overflow: hidden;
    transform: translate(-10px, -30px);

  }


  .nav-pills {
    visibility: hidden;
    margin-left: 0;
  }

  .containerAcesso-mobile {
    display: block;
    margin: 100px 30px;

  }

  .containerAcesso {
    display: none;
  }

  .container-icones {
    display: flex;
  }

  article {
    display: flex;
    flex-direction: column-reverse;
  }

  .container-imgGrande {
    width: 375px;
    height: 300px;

  }

  .container-imgDesktop {
    display: none;
  }


  .container-imgGrande img {
    width: 100%;
    height: 100%;
  }



  .container-imgMobile img {
    width: 100%;
    height: auto;

  }



  .img-mobile {
    display: block;
  }


  .container-left {
    width: 100%;
    margin: 30px auto;
  }

  .container-nav {
    width: 100%;
    height: 50px;
    display: inline-flex;
    justify-content: space-between;
  }

  h1 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
  }

  .container-paragrafo button {
    margin: auto 110px;

  }

  .container-icones {
    display: flex;
    width: 375px;
    justify-content: center;
  }

  .container-icones img {
    width: 40px;
    align-items: center;
    display: flex;
    position: relative;
  }

  .menu-mobile.abrir {
    visibility: visible;
    transition: .3s;
    width: 260px;
    margin: 0 auto;
    display: block;
    transform: translate(62%, 0);
  }

  .menu-mobile .pills-mobile {
    display: block;
    visibility: visible;
  }

  .container-sanduiche.ativo .linha:nth-child(1) {
    transform: translateY(15px) rotate(-45deg);
  }

  .container-sanduiche.ativo .linha:nth-child(2) {
    width: 0;
  }

  .container-sanduiche.ativo .linha:nth-child(3) {
    transform: translateY(-9px) rotate(45deg);

  }

  .container-paragrafo p {

    width: 100%;
    font-size: 14px;
    text-align: justify;
    padding: 15px;

  }

  .btn-fechaMenu {
    border: none;
    background: transparent;
    position: relative;
    margin-left: 150px;
  }

  .cruz {
    width: 30px;
    height: 3px;
    background: black;
    margin: 9px 5px;
    display: block;
    position: relative;

  }

  .btn-fechaMenu .cruz:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
  }

  .btn-fechaMenu .cruz:nth-child(2) {
    transform: translateY(-3px) rotate(45deg);
  }

  .img-Desktop {
    display: none;
  }

}