@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

//primary

$Pale-blue: hsl(225, 100%, 94%);
$Bright-blue: hsl(245, 75%, 52%);

//neutral

$Very-pale-blue: hsl(225, 100%, 98%);
$Desaturated-blue: hsl(224, 23%, 55%);
$Dark-blue: hsl(223, 47%, 23%);

//fonte
$Font-size: 16px;
$font-Family: 'Red Hat Display',
sans-serif;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(/images/pattern-background-desktop.svg);
  font-family: $font-Family;
  background-repeat: no-repeat;
  background-size: cover;
   background-color: $Pale-blue
}

.container-principal{
  top: 50%;
  left: 50%;
  width: 320px;
  height: 500px;
  margin: 0 auto;
  position: absolute; 
  transform: translate(-50%, -50%);
  background: $Very-pale-blue;
  border-radius: 20px;

  .container-img{
    width: 100%;
    background-image: url(/images/illustration-hero.svg);
    height: 200px;
    background-repeat: no-repeat;
      background-size: cover;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
  }
  .subcontainer{
    margin: 20px auto;
    width: 250px;
    height: 70px;
    background-color: $Pale-blue;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;

  }
  .title{
    text-align: center;
    margin: 15px auto;
    font-size: 14px;
  }
  .paragrafo{
    text-align: center;
    font-size: 14px;
    color: $Desaturated-blue;
    margin: 10px 15px;
  }
  a{
    text-decoration: none;
    color: $Bright-blue;
  }
 
  .footer{
   display: flex;
   flex-direction: column;
   width: 100%;
  }
  button{
    width: 250px;
    height: 40px;
    padding: 5px;
    background: $Bright-blue;
    margin: 5px auto;
    cursor: pointer;
    border-radius: 10px;
    border: none;
  }

  button:hover{
    background: $Desaturated-blue;
  }
  a{
    margin: 5px auto;
    font-size: 12px;
  }
  a:hover{
    color: $Dark-blue;
  }
}

@media screen and ( max-width: 312px) {
  .container-principal{
    width: 100%;
    height: auto;
    margin: 0 20px;
  }
}

