:root {
  /*prymary*/
  --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
  /*neutral*/
  --Light-Grayish-Cyan: hsl(180, 52%, 96%);
  --Light-Grayish-Cyan2: hsl(180, 31%, 95%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

.card {
  display: flex;
  width: 1300px;
  height: 130px;
  background-color: var(--Light-Grayish-Cyan2);
  box-shadow: 0px 2px 10px 1px var(--Very-Dark-Grayish-Cyan);
  cursor: pointer;
  margin: 15px auto;
  justify-content: space-between;
}

img {
  width: 90px;
  height: 90px;
  margin-left: 20px;
  align-self: center;
}

span {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 20px 5px;
}

.descript-left {
  display: block;
  margin-left: -500px;
}

.descript-cabecalho {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 8px 5px;
  color: var(--Desaturated-Dark-Cyan);
}

.title {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: -15px 5px;
}

.descript-footer {
  display: flex;
  margin: -5px 0;
  color: var(--Dark-Grayish-Cyan);
}

.descript-right span:hover {
  background: var(--Very-Dark-Grayish-Cyan);
}

.descript-right {
  width: 350px;
  display: flex;
  margin-right: 90px;
  color: var(--Desaturated-Dark-Cyan);
  font-size: 18px;
}

.descript-right span {
  background-color: hsl(180, 20%, 83.3%);
  height: auto;
  margin: auto 5px;
  padding: 5px;
}

.title h4 {
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  display: flex;
}

@media screen and (max-width: 375px) {
  .container {
    display: grid;
    grid-template-columns: auto;
  }

  header img {
    background-image: url(./images/bg-header-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .headerImg {
    visibility: none;
  }

  section {
    display: grid;
    grid-template-columns: auto;
    width: 370px;
    height: auto;
    margin: 70vh auto;
  }

  .card {
    display: grid;
    grid-template-columns: auto;
    height: auto;
    width: 360px;
    border-left: 8px solid var(--Desaturated-Dark-Cyan);
  }

  img {
    width: 90px;
    height: 90px;
    margin-left: 20px;
    margin-top: -20px;
  }

  .descript-left {
    margin: 0 20px;
  }
  .descript-right {
    margin: auto 20px;
  }
}
