@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    --primary-Dark-Gray: hsl(0, 0%, 63%);
    --primary-Black: hsl(0, 0%, 0%);
    --primary-white: hsl(0, 0%, 100%);
    --primary-Very-Dark-Gray: hsl(0, 0%, 27%);
    --font-family: "League Spartan", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    margin: 0 auto;
    max-width: 1400px;
    height: 100vh;
    font-family: var(--font-family);
}

.grid-container {
    display: flex;
}

.grid-item1 nav {
    display: flex;
    width: 550px;
    height: 0px;
    z-index: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;
}

.grid-item1 nav img {
    position: absolute;
    width: 100%;
    width: 50px;
    left: 80px;
    width: 50px;
    height: 10px;
}


.grid-item1 nav ul {
    display: flex;
}


.grid-item1 nav ul li {
    display: flex;
    list-style: none;
    text-decoration: none;
    width: auto;
    padding: 0;

}


.grid-item1 nav ul li a {
    text-decoration: none;
    margin: 20px 10px;
    color: var(--primary-white);
    transition: 0.3s ease-in-out;
    border-bottom: none;

}

.grid-item1 nav ul li a:hover {
    border-bottom: 1px solid var(--primary-white);


}


.grid-item1 {
    width: auto;
}

.grid-item1 img {
    width: 100%;
    z-index: -1;
    position: relative;
    height: 100%;
}


.grid-item2 {
    width: 30%;
    display: grid;
    place-content: center;
    gap: 20px;
    margin: 0 50px;
    height: 100%;
    place-self: center;
}

.grid-item2 h2 {
    font-size: 32px;
    width: 300px;
    font-weight: 700;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item4 {
    display: grid;
    grid-template-rows: 30px;
    place-content: center;
    padding: 20px;
    text-align: left;
}

.grid-item4 b {
    letter-spacing: 5px;
    font-weight: 600;
}

.grid-item4 p {
    font-size: 15px;
}

.vejaMais {
    letter-spacing: 10px;
    width: 200px;
    text-decoration: none;
}

.vejaMais:hover {
    color: var(--primary-Dark-Gray);
}

.container-buttons {
    width: 110px;
    height: 60px;
    top: 215%;
    position: relative;
    left: -12%;

}

.btn {
    width: 45px;
    height: 50px;
    background-color: var(--primary-Black);
    border: none;
    margin: -2px;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--primary-Dark-Gray);

}

.navBar-mobile {
    display: none;
    transition: all 0.7s ease-in;
}

.menu-sanduiche img {
    width: 40px;
    height: 40px;
    z-index: 1;
    position: relative;
}

.container-navBar-mobile {
    display: none;
}


.btn-close {
    display: none;
}


@media screen and (min-width: 1400px) {

    body {
        height: 100vh;
    }

    .container-buttons {
        width: 130px;
        margin: 3px 2px;
        height: 51px;

    }

    .btn {
        width: 60px;
    }

    .container-navBar-mobile {
        display: none;
    }

    .btn-close {
        display: none;
    }


}

@media screen and (max-width: 375px) {

    body {
        height: 100%;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .grid-item1 .navBar-destop {
        display: none;
    }

    .container-buttons {
        width: 86px;
        height: auto;
        top: -350px;
        position: relative;
        left: 240px;

    }

    .grid-item2 {
        width: 30%;
        display: grid;
        place-content: center;
        justify-content: center;
        gap: 20px;
        margin: 0 50px;
        height: 100%;
        place-self: center;
        justify-content: center;
        align-items: center;

    }

    .container-navBar-mobile {
        width: 90px;
        height: 25px;
        position: absolute;
        z-index: 0;
        margin: 20px 10px;
        display: flex;
        gap: 15px;

    }

    .container-navBar-mobile .logo {
        width: 50px;
    }

    .container-navBar-mobile button {
        width: 25px;
        height: 20px;
        background-color: transparent;
        border: none;
    }

    .container-navBar-mobile button:hover {
        cursor: pointer;
    }

    .navBar-mobile {
        background-color: var(--primary-white);
        display: flex;
        width: 450px;
        height: 50px;
        z-index: 0;
        justify-content: center;
        align-items: center;
        position: relative;
        visibility: hidden;
        top: 20px;
        transition: top 2s ease-in;

    }

    .navBar-mobile img {
        width: 20px;
        z-index: 1;
        height: 20px;
    }

    .navBar-mobile ul {
        background-color: var(--primary-white);
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .link-mobile {
        color: var(--primary-Black);
    }

    .navBar-mobile button {
        width: 25px;
        height: 20px;
        background-color: transparent;
        border: none;
    }

    .navBar-mobile .btn-close {
        z-index: 1;
        width: 20px;
        height: 20px;
        position: absolute;
        left: -55px;
        top: -20px;

    }

    .navBar-mobile .btn-close:hover {
        cursor: pointer;
    }

    .navBar-mobile .img-close {
        z-index: 1;
        width: 20px;
        height: 20px;
        position: absolute;

    }


    .grid-item1 nav {
        display: flex;
        width: auto;
        height: 0px;
        z-index: 0;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -25px;
        transition: 0.3s ease-in;
    }

    .grid-item1 nav img {
        left: 80px;
        width: 50px;
        height: 10px;

    }

    .grid-item1 nav ul {
        display: flex;
        width: 100%;
        margin: 0;
        position: absolute;
    }

    #paragrafo {
        height: 125px;
    }

    .grid-item2 h2 {

        margin: 20px 0 auto;
    }

    .grid-item1 nav ul li a {
        z-index: 1;
        color: var(--primary-Black);
        transition: .7s ease-in;
    }

    .grid-item1 nav ul li a:hover {
        border-bottom: 1px solid var(--primary-Black);

    }

    .grid-container2 {
        display: grid;
        grid-template-columns: auto;
    }


    .grid-item4 {
        display: grid;
        grid-template-columns: auto;
        place-content: center;
        padding: 20px 0;
        text-align: left;
    }

    .grid-item4 b {
        padding: 0 10px;
    }

    .grid-item4 p {
        padding: 0 10px;
    }

    .grid-item3 img {
        width: 100%;
    }

    .grid-item5 img {
        width: 100%;
    }

    .btn-close {
        display: block;
    }


    .visible {
        visibility: visible;
        display: flex;
        width: auto;
        height: 0px;
        z-index: 1;
        justify-content: center;
        align-items: center;
        position: absolute;
        transform: translate(0, 50px);

    }

}