* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: hsl(256, 26%, 20%);
  align-items: center;
  width: 100%;
  height: 400px;
  background-image: url(../images/bg-pattern-intro-right-desktop.svg);
  background-repeat: no-repeat;
  background-position: right;


}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 10px;
}

nav img {
  width: auto;
  height: 15px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;

}

nav ul li {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;

}

nav a {
  text-decoration: none;
}

nav li a {
  cursor: pointer;
}

.btn-view {
  padding: 8px;
  border: 1px solid hsl(256, 26%, 20%);
  background-color: transparent;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.btn-view:hover {
  background-color: hsl(256, 26%, 20%);
  color: white;
  transition: .3s ease-in-out;
}

.container-text {
  display: block;
  margin-left: 10px;
  width: 480px;
  height: auto;
  margin-left: 100px;

}

.nav-mobile {
  display: none;

}



.border {
  border-bottom: 1px solid hsl(216, 30%, 68%);
  width: 100px;
}

section .border {
  border-bottom: 1px solid hsl(216, 30%, 68%);
  width: 100px;
  margin: 0 175px;
}


.container-text h1 {
  margin: 20px 0;
  width: 330px;
  font-weight: 700;
  font-size: 2.6rem;

}

.container-text p {
  margin: 20px 0;
}

.container-text button {
  width: 100px;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px;
  color: white;
  cursor: pointer;
  transition: .3s ease-in-out;

}

.container-text button:hover {
  background-color: white;
  color: black;
  transition: .3s ease-in-out;
}

.container-imgHeader {
  width: 50%;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-imgHeader img {
  width: 300px;
  top: 95px;
  opacity: 85%;
  position: relative;
}


section h2 {
  font-size: 3rem;
  margin: 50px 170px;
}

.img-direita {
  margin: -100px auto;
  width: 100px;

}

.container-different {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  display: block;
  margin: 0 20px;
}

.card img {
  width: 60px;
}

.card h4 {
  margin: 20px 0;
}

.container3 {
  display: flex;
  width: 75%;
  height: auto;
  background-color: hsl(256, 26%, 20%);
  margin: 50px auto;
}

.container3 h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50%;
  height: auto;
  font-size: 3.3rem;
  font-weight: 600;
  margin: 0 auto;
}

.container3 img {
  height: auto;
  position: relative;
}

.container3 button {
  z-index: 1;
  position: absolute;
  margin: 100px;
  left: 920px;
  padding: 8px;
  background: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;

}

.container3 button:hover {
  background-color: white;
  color: black;
  transition: .3s ease-in-out;

}

footer {
  width: 100%;
  height: 500px;
  background-image: url(../images/bg-pattern-footer-desktop.svg);
  background-color: hsl(0, 0%, 98%);
  background-repeat: no-repeat;
  margin-top: 200px;



}

.footer2 {
  display: flex;
  justify-content: space-around;
  margin: 200px auto;
}

.footer2 h6 {
  color: hsl(273, 4%, 51%);
  margin: 15px auto;
}

.footer2 .coluna1,
.coluna2,
.coluna3,
.coluna4 p {
  color: hsl(270, 9%, 17%);
  font-weight: 500;
}

.coluna p {
  margin: 20px 0;
}

.coluna a {
  text-decoration: none;
}

.cabecalho-footer {
  display: flex;
  justify-content: space-between;
  margin: -180px 150px;
  border-bottom: 1px solid hsl(273, 4%, 51%);
  padding: 20px;
  position: relative;
  z-index: 1;

}

.cabecalho-footer img {
  width: auto;
  height: 15px;
}

.redesSociais {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
}

.redesSociais a svg path:hover {
  fill: hsl(256, 26%, 20%);
}

.container-sanduiche svg {
  cursor: pointer;
  display: none;

}

.logo-mobile {
  display: none;

}


.intro-left {
  display: none;
}

.intro-right {
  display: none;
}


.btn-abrir {
  display: none;
}

.btn-fechar {
  display: none;
}

@media screen and (max-width: 768px) {


  .img-tablet {
    display: none;
  }

  .container3 img {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .container3 button {
    position: absolute;
    left: 50%;
  }

  .container3 h3 {
    width: auto;
  }

}

@media screen and (max-width: 475px) {



  header {
    background-image: url(../images/bg-pattern-intro-left-mobile.svg);
    background-position: left;
    background-size: cover;

  }

  .img-direita {
    display: none;
  }

  nav ul {
    display: none;

  }

  .container-imgHeader img {
    display: none;
  }



  .container-sanduiche svg {
    display: block;
  }

  section h2 {
    font-size: 2rem;
    margin: 50px 50px;
  }

  section .border {
    margin: 0 auto;
  }

  .container-different {
    display: grid;
    grid-template-columns: auto;
  }

  .container-text {
    margin: 0 20px;
  }

  .container3 img {
    display: none;
    background-image: url(../images/bg-pattern-intro-right-mobile.svg);
  }

  .cabecalho-footer {
    width: auto;
    display: grid;
    grid-template-columns: auto;
    margin: -15px 107px;
  }

  .cabecalho-footer img {
    margin: 20px auto;
  }

  .footer2 {
    display: grid;
    grid-template-columns: auto;
  }

  .fundo-footer {
    background-image: url(../images/bg-pattern-footer-mobile.svg);
  }

  footer {
    height: auto;
  }

  .coluna1,
  .coluna2,
  .coluna3,
  .coluna4 {
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    margin: 10px auto;
  }

  .coluna h6 {
    text-align: center;
  }

  .container3 {
    display: flex;
    height: 200px;
    font-size: 1rem;
    background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    flex-direction: column;
  }

  .container3 h3 {
    font-size: 1.2rem;
    text-align: center;
    margin: 20px auto;
  }


  .intro-left {
    display: block;
  }

  .intro-right {
    display: block;
  }


  .container3 button {
    Position: absolute;
    display: block;
    left: 14%;
    margin: 100px 90px;


  }

  .logo-mobile {
    display: block;
    width: 100%;

  }

  .nav-mobile {
    display: block;
    background: hsl(256, 26%, 20%);
    background-image: url(../images/bg-pattern-mobile-nav.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    display: none;

  }


  .nav-mobile ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

  }

  .nav-mobile ul li a {
    color: white;
  }

  .nav-mobile .btn-view {
    border: 1px solid white;
  }

  .nav-mobile .btn-view:hover {
    border: 1px solid white;
    color: black;
    background-color: white;
  }

  .btn-abrir {
    display: block;
  }


}